body {
    background: rgb(215, 255, 245);
    background: linear-gradient(11deg, rgba(215, 255, 245, 1) 10%, rgba(215, 255, 245, 0.6131244734221813) 45%, rgba(215, 255, 245, 1) 75%);
}

.our-team-wellcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #75439e8c;
    margin: 100px 50px 50px 50px;
    text-align: center;
}

.our-team-wellcome h2 {
    font-size: 48px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 20px;
    text-transform: uppercase;
    background: linear-gradient(to left, rgb(55, 55, 55), rgb(165, 165, 165));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow:
        1px 1px 2px rgba(0, 0, 0, 0.4),
        1px 1px 2px rgba(0, 0, 0, 0.2);
}

.our-team-wellcome p {
    font-size: 21px;
    color: #000000;
    margin-bottom: 20px;
}

.team-overview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: auto;
    border-bottom: 1px solid rgb(195, 195, 195);
    margin: 40px 50px;
    text-align: center;
}

.team-overview-content-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 40px 0 70px 20px;
    padding: 10px;
    text-align: center;
}

#team-overview-title {
    font-size: 2.5em;
    background: linear-gradient(to right, rgb(55, 55, 55), rgb(205, 205, 205));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
    text-shadow:
        1px 1px 2px rgba(0, 0, 0, 0.4),
        1px 1px 2px rgba(0, 0, 0, 0.2);
}

.team-overview-content {
    font-size: 1.4em;
    line-height: 1.5;
    color: rgb(76, 76, 76);
    text-align: center;
}

.team-overview-image img {
    width: auto;
    height: 300px;
    margin-left: 20px;
}

.faculty-guide-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 50px;
    border-bottom: 1px solid rgb(180, 180, 180);
    padding-bottom: 50px;
}

.faculty-guide-team h2 {
    font-size: 42px;
    margin-bottom: 10px;
    background: linear-gradient(to left, rgb(55, 55, 55), rgb(165, 165, 165));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow:
        1px 1px 2px rgba(0, 0, 0, 0.4),
        1px 1px 2px rgba(0, 0, 0, 0.2);
}

.faculty-guide-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.guide-profile img {
    margin-top: 10px;
    height: auto;
    width: 200px;
    border-radius: 50%;
    border: 5px solid #75439eb7;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3),
        10px 10px 20px rgba(0, 0, 0, 0.2),
        15px 15px 25px rgba(0, 0, 0, 0.1);
    animation: border-shine 5s linear infinite;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.guide-profile img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

@keyframes border-shine {
    0% {
        border-color: #5b2d81b7;
    }

    50% {
        border-color: #dbafff;
    }

    100% {
        border-color: #5b2d81b7;
    }
}

.guide-in-profile a img {
    width: auto;
    height: 20px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.guide-name p {
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
    text-align: center;
    text-shadow:
        1px 1px 2px rgba(0, 0, 0, 0.4),
        1px 1px 2px rgba(0, 0, 0, 0.2);
}

.guide-intro {
    max-width: 80%;
    text-align: center;
    line-height: 1.6;
}

.guide-intro p {
    font-size: 19px;
}

/* Three columns side by side */


/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 810px) {
    .team-overview {
        flex-direction: column;
        margin: 20px;
    }

    .team-overview-content-wrapper {
        max-width: 100%;
        margin: 20px 0;
    }

    .team-overview-image img {
        height: auto;
        width: 100%;
        margin: 20px 0;
    }

    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

    .our-team-wellcome {
        margin: 100px 20px 20px 20px;
    }
}

@media screen and (max-width: 600px) {
    .our-team-wellcome h2 {
        font-size: 36px;
    }

    .our-team-wellcome p {
        font-size: 18px;
    }

    .team-overview-content {
        font-size: 1.2em;
    }

    .faculty-guide-team h2 {
        font-size: 32px;
    }

    .guide-name p {
        font-size: 18px;
    }

    .guide-intro p {
        font-size: 16px;
    }

    .card img {
        height: auto;
        width: 100%;
    }

    .button {
        padding: 10px;
    }
}

@media screen and (max-width: 600px) {

    .our-team-wellcome h2,
    .our-team-wellcome p,
    .team-overview-content,
    .faculty-guide-team h2,
    .guide-name p,
    .guide-intro p {
        text-align: justify;
    }

    .our-team-wellcome,
    .team-overview-content-wrapper,
    .faculty-guide-content,
    .guide-intro {
        text-align: center;
    }
}

/* meet our team */

.text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
}

.responsive-cell-block {
    min-height: 75px;
}

.responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.outer-container {
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
}

.inner-container {
    max-width: 1320px;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
}

.section-head-text {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    text-shadow:
        1px 1px 2px rgba(0, 0, 0, 0.4),
        1px 1px 2px rgba(0, 0, 0, 0.2);
    margin: 0 0 10px 0;
}

.section-subhead-text {
    font-size: 25px;
    color: rgb(153, 153, 153);
    line-height: 35px;
    max-width: 470px;
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
}

.img-wrapper {
    width: 100%;
}

.team-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media-links {
    width: 125px;
    display: flex;
    justify-content: space-between;
}

.name {
    font-size: 22px;
    font-weight: 700;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
}

.position {
    font-size: 16px;
    font-weight: 700;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
    color: rgb(102, 102, 102);
}

.team-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid powderblue;
}

.team-card-container {
    width: 280px;
    margin: 0 0 40px 0;
}

@media (max-width: 500px) {
    .outer-container {
        padding: 10px 20px 10px 20px;
    }

    .section-head-text {
        text-align: center;
    }
}