@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Poppins;
    font-size: 13px;
    overscroll-behavior-y: none;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

html {
    scroll-behavior: smooth;
}

img {
    user-select: none;
    -webkit-user-drag: none;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.logo a {
    color: black;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-right: 10px;
}

.nav-link {
    text-decoration: none;
    color: black;
    background: white;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: 1.2px solid #7a7a7a;
}

.nav-link:hover,
.nav-link.active {
    background: black;
    color: white;
}

footer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.footer-section-innovation,
.footer-section-excellence,
.footer-section-competition {
    flex: 1;
    margin: 0 10px;
}

.footer-section-innovation h2,
.footer-section-excellence h2,
.footer-section-competition h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.footer-section-innovation p,
.footer-section-excellence p,
.footer-section-competition p,
.footer-section-excellence a {
    font-size: 1em;
    margin-bottom: 10px;
    color: #fff;
    text-decoration: none;
}

.footer-social-icons a {
    margin-right: 10px;
}

.footer-email-input {
    padding: 10px;
    margin-bottom: 10px;
    width: 80%;
    border-radius: 10px;
}

.footer-join-button {
    padding: 8px 20px;
    background-color: #151515;
    color: #fff;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 10px;
}

.footer-join-button:hover {
    background-color: #000000;
}

.footer-social-icons img {
    height: 24px;
    width: auto;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .project-item {
        width: 100%;
    }

    footer {
        flex-direction: column;
        align-items: flex-start;
    }

    .social-media {
        text-align: left;
        margin-top: 20px;
    }

    section h2,
    section h3 {
        font-size: 1.8em;
    }

    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
    }

    .nav-link {
        padding: 0.5rem;
        width: 100%;
        text-align: center;
    }
}

.hidden {
    display: none;
}

.about-us,
.our-objective,
.our-vision {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: auto;
    border-bottom: 1px solid rgb(195, 195, 195);
    margin: 40px 50px;
}

.about-us-content-wrapper,
.our-objective-content-wrapper,
.our-vision-content-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 40px 0 50px 0;
    padding: 10px;
}

#about-us-title,
#our-objective-title,
#our-vision-title {
    font-size: 2.5em;
    background: linear-gradient(to right, rgb(55, 55, 55), rgb(205, 205, 205));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
    text-shadow:
        1px 1px 2px rgba(0, 0, 0, 0.4),
        1px 1px 2px rgba(0, 0, 0, 0.2);
}

.about-us-content,
.our-objective-content,
.our-vision-content {
    font-size: 1.4em;
    line-height: 1.5;
    color: rgb(76, 76, 76);
}

.about-us-image img,
.our-objective-image img,
.our-vision-image img {
    width: auto;
    height: 300px;
    margin-left: 20px;
}

.our-vision-image {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.our-vision-image img {
    width: auto;
    height: 400px;
}

/* Container to use flex for centering */
.slideshow-container {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 100%;
    height: 480px;
    margin-left: 30px;
    margin-right: 30px;
    overflow: hidden;
    border-radius: 15px;
}

.mySlides {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.slide-enter {
    transform: translateX(100%);
    opacity: 0;
}

.slide-exit {
    transform: translateX(-100%);
    opacity: 0;
}

.slide-enter-active {
    transform: translateX(0);
    opacity: 1;
}

.slide-exit-active {
    transform: translateX(-100%);
    opacity: 0;
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.mySlides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: opacity(30%);
}

.text {
    color: black;
    font-size: 15px;
    margin-bottom: 50px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    margin-left: 10px;
    text-align: start;
}

.slide-title {
    font-size: 24px;
    font-weight: bold;
    margin: 5px 0;
    color: black;
    width: 100%;
}

.slide-description {
    font-size: 14px;
    margin: 5px 0;
    width: 100%;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px;
    font-size: 18px;
    color: #365374;
    font-weight: bold;
    transition: 0.6s ease;
    border-radius: 3px;
    z-index: 1;
    filter: opacity(100%);
}

.prev:hover,
.next:hover {
    background-color: #d5fd5cc8;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #490085;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #78d0ff;
}

@keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px;
    }
}

@media only screen and (max-width: 600px) {
    .slideshow-container {
        height: 400px;
    }

    .slide-description {
        display: none;
    }

    .slide-title {
        font-size: large;
    }

    .text {
        margin-bottom: 20px;
        text-align: center;
    }

    .about-us,
    .our-objective,
    .our-vision {
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    .about-us-content-wrapper,
    .our-objective-content-wrapper,
    .our-vision-content-wrapper {
        max-width: 100%;
        text-align: center;
    }

    .about-us-image img,
    .our-objective-image img,
    .our-vision-image img {
        height: auto;
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }

    .about-us {
        flex-direction: column-reverse;
    }

    footer {
        gap: 20px;

    }

    .footer-section-innovation,
    .footer-section-excellence {
        align-items: flex-start;
        text-align: left;
    }
    .our-objective{
        flex-direction: column-reverse;
    }
}